@{
  Layout = "_Layout";
}

<div class="container">
<h1 class="jumbotron">Add a new ingredient</h1>
<hr>
<form action="/ingredients/" method="post">
  <label for="ingredient-name">Ingredient name:</label>
  <input id="ingredient-name" name="ingredient-name" type="text">
  <button type="submit">Add new ingredient</button>
</form>
<hr>
<a href="/ingredients" class="btn btn-warning">View all ingredients</a>
</div>
