@{
  Layout = "_Layout";
}

<div class="container">
<h1>Ingredient List</h1>

<ul>
@foreach (var ingredient in Model)
{
<li><a href ="/ingredients/@ingredient.GetId()">@ingredient.GetName()</a></li>
}
</ul>
<a href = "/" class = "btn btn-info">Home</a>
<a href = "/ingredients/new" class = "btn btn-success">Add Ingredient</a>
</div>
