@{
  Layout = "_Layout";
}

<div class="container">
<h1>Welcome to My Recipe!</h1>
<br>
<hr />
<br>
<a href = "/recipes" class = "btn btn-info">View All Recipes</a>
<a href = "/recipes/new" class = "btn btn-success">Add Recipe</a>
</div>
