@{
  Layout = "_Layout";
}

<div class="container">
<h1 class="jumbotron">Add a new tag</h1>
<hr>
<form action="/tags/" method="post">
  <label for="tag-name">Recipe name:</label>
  <input id="tag-name" name="tag-name" type="text">
  <button type="submit">Add new tag</button>
</form>
<hr>
<a href="/tags" class="btn btn-warning">View all tags</a>
</div>
