@{
  Layout = "_Layout";
}

<div class="container">
<h1>Recipe List</h1>

<ul>
@foreach (var recipe in Model)
{
<li><a href ="/recipes/@recipe.GetId()">@recipe.GetName()</a></li>
}
</ul>
<a href = "/" class = "btn btn-info">Home</a>
<a href = "/recipes/new" class = "btn btn-success">Add Recipe</a>
</div>
