@{
  Layout = "_Layout";
}

<div class="container">
<h1>Tag List</h1>

<ul>
@foreach (var tag in Model)
{
<li><a href ="/tags/@tag.GetId()">@tag.GetName()</a></li>
}
</ul>
<a href = "/" class = "btn btn-info">Home</a>
<a href = "/tags/new" class = "btn btn-success">Add Tag</a>
</div>
